[data-page="profil"] {
  --page-margin: 19px;
}

[data-page="profil"] header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 var(--page-margin);
  margin-bottom: 2rem;
}

[data-page="profil"] header h1 .svg {
  width: 3rem;
}

[data-page="profil"] h1, [data-page="profil"] h2, [data-page="profil"] h3 {
  text-align: center;
  text-shadow: 0 .25rem .25rem #0004;
}

[data-page="profil"] p {
  text-shadow: 0 .25rem .25rem #0004;
}

[data-page="profil"] h2 {
  margin-bottom: .75rem;
  font-size: 1.5rem;
  font-style: italic;
}

[data-page="profil"] h2 strong {
  font-weight: 500;
  font-style: normal;
  color: var(--color-2);
}

[data-page="profil"] h3 {
  font-size: 1.5rem;
  font-style: italic;
}

[data-page="profil"] main h1 {
  position: absolute;
  top: 1.75rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 1.375rem;
  font-weight: 500;
  color: var(--color-2);
}

[data-page="profil"] .section {
  position: relative;
}

[data-page="profil"] .section__title {
  margin: var(--page-margin);
  font-size: 1.25rem;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  color: var(--color-2);
}

[data-page="profil"] .section__more {
  position: absolute;
  top: .25rem;
  right: 1rem;
}

[data-page="profil"] .list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  margin: var(--page-margin);
}

[data-page="profil"] .list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .75rem;
  gap: 1rem;
  border-radius: .5rem;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(45%, rgba(255, 255, 255, 0.25)), color-stop(95%, rgba(255, 255, 255, 0.1)));
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.25) 45%, rgba(255, 255, 255, 0.1) 95%);
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  -webkit-box-shadow: 0 .25rem .25rem #0004;
          box-shadow: 0 .25rem .25rem #0004;
}

[data-page="profil"] .list__item::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  padding: 1px;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(5%, #FFFFFF26), color-stop(95%, #0C423E88));
  background: linear-gradient(to bottom right, #FFFFFF26 5%, #0C423E88 95%);
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFF)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFF));
  -webkit-mask: linear-gradient(#FFF 0 0) content-box, linear-gradient(#FFF 0 0);
  -webkit-mask-composite: xor;
  border-radius: inherit;
}

[data-page="profil"] .list__item .svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--color-4);
}

[data-page="profil"] .search {
  width: 3rem;
  height: 3rem;
  padding: .875rem;
  fill: var(--color-4);
  border-radius: calc(var(--page-margin) * .5);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(45%, rgba(255, 255, 255, 0.25)), color-stop(95%, rgba(255, 255, 255, 0.1)));
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.25) 45%, rgba(255, 255, 255, 0.1) 95%);
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  -webkit-box-shadow: 0 .25rem .25rem #0004;
          box-shadow: 0 .25rem .25rem #0004;
}

[data-page="profil"] .search::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  padding: 1px;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(5%, #FFFFFF26), color-stop(95%, #0C423E88));
  background: linear-gradient(to bottom right, #FFFFFF26 5%, #0C423E88 95%);
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFF)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFF));
  -webkit-mask: linear-gradient(#FFF 0 0) content-box, linear-gradient(#FFF 0 0);
  -webkit-mask-composite: xor;
  border-radius: inherit;
}

[data-page="profil"] .hash-page {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100 * var(--vh) - var(--dom-navbar-height));
  padding-top: 1rem;
  background: var(--color-1);
  overflow-y: auto;
}

[data-page="profil"] .hash-page--show {
  display: block;
}

[data-page="profil"] .hash-page.no-header {
  padding-top: 0;
}

[data-page="profil"] .back {
  width: 3rem;
  height: 3rem;
  padding: .875rem;
}

[data-page="profil"] .back .svg {
  fill: var(--color-2);
}
/*# sourceMappingURL=style.css.map */