[data-page="accueil"] {
  --page-margin: 19px;
  padding: 0 !important;
}

[data-page="accueil"] header {
  position: absolute;
  top: 1rem;
  left: 0;
  z-index: 10;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 var(--page-margin);
  padding-bottom: 2rem;
}

[data-page="accueil"] header h1 .svg {
  width: 3rem;
}

[data-page="accueil"] h1, [data-page="accueil"] h2, [data-page="accueil"] h3 {
  text-align: center;
  text-shadow: 0 .25rem .25rem #0004;
}

[data-page="accueil"] p {
  text-shadow: 0 .25rem .25rem #0004;
}

[data-page="accueil"] h2 {
  font-size: 1.75rem;
  font-style: italic;
}

[data-page="accueil"] h2 strong {
  font-weight: 500;
  font-style: normal;
  color: var(--color-2);
}

[data-page="accueil"] h3 {
  font-size: 1.5rem;
  font-style: italic;
}

[data-page="accueil"] main h1 {
  position: absolute;
  top: 1.75rem;
  left: 50%;
  z-index: 15;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 1.375rem;
  font-weight: 500;
  color: var(--color-2);
}

[data-page="accueil"] section {
  position: relative;
  z-index: 1;
  padding: 3.5rem 0;
  min-height: calc(100 * var(--vh) - var(--dom-navbar-height));
  background-position: center;
  background-size: cover;
}

[data-page="accueil"] #_decouverte {
  padding-top: 5rem;
  background-image: url("/database/img/Jardin_des_Plantes_Paris_figures_strolling_the_grounds_alongside_the_glasshouses._Coloured_lithograph_by_J._Jacottet.coupe.jpg");
}

[data-page="accueil"] #_parcours {
  background-image: url("/database/img/louis-paulin-z4TOhAEXrCA-unsplash.jpg");
}

[data-page="accueil"] #_parcours h3 {
  margin-bottom: 2.5rem;
}

[data-page="accueil"] .liste {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: var(--page-margin);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: calc(var(--page-margin) * 1.5);
}

[data-page="accueil"] .search {
  width: 3rem;
  height: 3rem;
  padding: .875rem;
  fill: var(--color-4);
  border-radius: calc(var(--page-margin) * .5);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(45%, rgba(255, 255, 255, 0.3)), color-stop(95%, rgba(255, 255, 255, 0.1)));
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.3) 45%, rgba(255, 255, 255, 0.1) 95%);
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  -webkit-box-shadow: 0 .25rem .25rem #0004;
          box-shadow: 0 .25rem .25rem #0004;
}

[data-page="accueil"] .search::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  padding: 1px;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(5%, #FFFFFF26), color-stop(95%, #E6703255));
  background: linear-gradient(to bottom right, #FFFFFF26 5%, #E6703255 95%);
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFF)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFF));
  -webkit-mask: linear-gradient(#FFF 0 0) content-box, linear-gradient(#FFF 0 0);
  -webkit-mask-composite: xor;
  border-radius: inherit;
}

[data-page="accueil"] .listel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10rem;
  border-radius: calc(var(--page-margin) / 2);
  overflow: hidden;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(45%, rgba(255, 255, 255, 0.3)), color-stop(95%, rgba(255, 255, 255, 0.1)));
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.3) 45%, rgba(255, 255, 255, 0.1) 95%);
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  -webkit-box-shadow: 0 .25rem .25rem #0004;
          box-shadow: 0 .25rem .25rem #0004;
}

[data-page="accueil"] .listel::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  padding: 1px;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(5%, #FFFFFF01), color-stop(95%, #E6703255));
  background: linear-gradient(to bottom right, #FFFFFF01 5%, #E6703255 95%);
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFF)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFF));
  -webkit-mask: linear-gradient(#FFF 0 0) content-box, linear-gradient(#FFF 0 0);
  -webkit-mask-composite: xor;
  border-radius: inherit;
}

[data-page="accueil"] .listel__img {
  width: 50%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0 .25rem .25rem #0004;
          box-shadow: 0 .25rem .25rem #0004;
}

[data-page="accueil"] .listel__texte {
  width: 50%;
  padding-left: 1rem;
  padding-right: 3rem;
  color: var(--color-4);
}

[data-page="accueil"] .listel__go {
  position: absolute;
  top: 50%;
  right: .5rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 1.5rem;
  -webkit-filter: drop-shadow(0 0.25rem 0.25rem #0004);
          filter: drop-shadow(0 0.25rem 0.25rem #0004);
}

[data-page="accueil"] .listel__go svg {
  fill: var(--color-4);
}

[data-page="accueil"] .listel--bis {
  border-radius: 0 2.5rem;
}

[data-page="accueil"] .map-container {
  position: relative;
  margin: var(--page-margin);
  padding: 2rem;
  border-radius: calc(var(--page-margin) / 2);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(45%, rgba(255, 255, 255, 0.3)), color-stop(95%, rgba(255, 255, 255, 0.1)));
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.3) 45%, rgba(255, 255, 255, 0.1) 95%);
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  -webkit-box-shadow: 0 .25rem .25rem #0004;
          box-shadow: 0 .25rem .25rem #0004;
}

[data-page="accueil"] .map-container::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  padding: 1px;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(5%, #FFFFFF26), color-stop(95%, #0C423E88));
  background: linear-gradient(to bottom right, #FFFFFF26 5%, #0C423E88 95%);
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFF)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFF));
  -webkit-mask: linear-gradient(#FFF 0 0) content-box, linear-gradient(#FFF 0 0);
  -webkit-mask-composite: xor;
  border-radius: inherit;
}

[data-page="accueil"] #map-here {
  --cover: 50%;
  position: relative;
  height: 15rem;
  background: var(--color-4);
  -webkit-box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
}

[data-page="accueil"] #map-here .map {
  position: absolute;
  top: 0;
  height: 100%;
  overflow: hidden;
}

[data-page="accueil"] #map-here .map div {
  width: calc(100vw - 2rem);
  height: 100%;
}

[data-page="accueil"] #map-here .cursor {
  position: absolute;
  top: 50%;
  left: var(--cover);
  z-index: 3001;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 2rem;
  height: 2rem;
  background: var(--color-2);
  border-radius: 50%;
  -webkit-box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
}

[data-page="accueil"] #map-here #map-one {
  left: 0;
  z-index: 3000;
  width: var(--cover);
  background: var(--color-2);
  border-right: var(--color-4) 0.125rem solid;
  -webkit-box-shadow: 0.125rem 0 0 0 var(--color-4);
          box-shadow: 0.125rem 0 0 0 var(--color-4);
}

[data-page="accueil"] #map-here #map-two {
  left: 0;
  z-index: 2000;
  width: 100%;
  background: var(--color-3);
}

[data-page="accueil"] .exploboxes-groups {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 2.5rem auto;
  gap: calc(.75rem / 2 - 1px);
}

[data-page="accueil"] .exploboxes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (5rem)[2];
      grid-template-columns: repeat(2, 5rem);
  -ms-grid-rows: (5rem)[2];
      grid-template-rows: repeat(2, 5rem);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: .5rem;
  -webkit-column-gap: .5rem;
          column-gap: .5rem;
  width: 100%;
}

[data-page="accueil"] .exploboxes .explobox {
  display: -ms-grid;
  display: grid;
  place-items: center;
  text-align: center;
  border-radius: .75rem;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(45%, rgba(255, 255, 255, 0.3)), color-stop(95%, rgba(255, 255, 255, 0.1)));
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.3) 45%, rgba(255, 255, 255, 0.1) 95%);
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  -webkit-box-shadow: 0 .25rem .25rem #0004;
          box-shadow: 0 .25rem .25rem #0004;
}

[data-page="accueil"] .exploboxes .explobox::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  padding: 1px;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(5%, #FFFFFF26), color-stop(95%, #0C423E88));
  background: linear-gradient(to bottom right, #FFFFFF26 5%, #0C423E88 95%);
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFF)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFF));
  -webkit-mask: linear-gradient(#FFF 0 0) content-box, linear-gradient(#FFF 0 0);
  -webkit-mask-composite: xor;
  border-radius: inherit;
}

[data-page="accueil"] .group {
  width: 100%;
}

[data-page="accueil"] .group__title {
  color: var(--color-3);
  font-size: 1rem;
}

[data-page="accueil"] .group.group--left .group__title {
  text-align: left;
}

[data-page="accueil"] .group.group--right .group__title {
  text-align: right;
}

[data-page="accueil"] .group-splitter {
  min-width: 1px;
  height: 4.5rem;
  background: var(--color-3);
  -webkit-transform: translateY(0.75rem);
          transform: translateY(0.75rem);
}
/*# sourceMappingURL=style.css.map */