@import "../../.common/scss/mixins.scss";

[data-page="accueil"] {
--page-margin: 19px;
padding: 0 !important;

header {
    position: absolute;
    top: 1rem; left: 0; z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 var(--page-margin);
    padding-bottom: 2rem;
    h1 .svg {
        width: 3rem;
    }
}

h1,h2, h3 {
    text-align: center;
    text-shadow: 0 .25rem .25rem #0004;
}
p {
    text-shadow: 0 .25rem .25rem #0004;
}
h2 {
    font-size: 1.75rem;
    font-style: italic;
    strong {
        font-weight: 500;
        font-style: normal;
        color: var(--color-2);
    }
}
h3 {
    font-size: 1.5rem;
    font-style: italic;
}
main {
    h1 {
        position: absolute;
        top: 1.75rem; left: 50%; z-index: 15;
        transform: translateX(-50%);
        font-size: 1.375rem;
        font-weight: 500;
        color: var(--color-2);
    }
}
section {
    position: relative;
    z-index: 1;
    padding: 3.5rem 0;
    min-height: calc(100 * var(--vh) - var(--dom-navbar-height));
    background-position: center;
    background-size: cover;
}
#_decouverte {
    padding-top: 5rem;
    background-image: url("../../database/img/Jardin_des_Plantes_Paris_figures_strolling_the_grounds_alongside_the_glasshouses._Coloured_lithograph_by_J._Jacottet.coupe.jpg");
}
#_exploration {
    // padding-bottom: 8rem;
}
#_parcours {
    // padding: 4rem 0 10rem 0;
    background-image: url("../../database/img/louis-paulin-z4TOhAEXrCA-unsplash.jpg");
    h3 {
        margin-bottom: 2.5rem;
    }
}

.liste {
    display: flex;
    margin: var(--page-margin);
    flex-direction: column;
    gap: calc(var(--page-margin) * 1.5);
}

.search {
    width: 3rem; height: 3rem;
    padding: .875rem;
    fill: var(--color-4);
    border-radius: calc(var(--page-margin) * .5);
    @include glass(#FFFFFF26, #E6703255);
}

.listel {
    display: flex;
    align-items: center;
    height: 10rem;
    border-radius: calc(var(--page-margin) / 2);
    overflow: hidden;
    @include glass(#FFFFFF01, #E6703255);
    &__img {
        width: 50%; height: 100%;
        object-fit: cover;
        box-shadow: 0 .25rem .25rem #0004;
    }
    &__texte {
        width: 50%;
        padding-left: 1rem;
        padding-right: 3rem;
        color: var(--color-4);
    }
    &__go {
        position: absolute;
        top: 50%; right: .5rem;
        transform: translateY(-50%);
        width: 1.5rem;
        filter: drop-shadow(0 .25rem .25rem #0004);
        svg {
            fill: var(--color-4);
        }
    }
    &--bis {
        border-radius: 0 2.5rem;
    }
}

.map-container {
    position: relative;
    margin: var(--page-margin);
    padding: 2rem;
    border-radius: calc(var(--page-margin) / 2);
    @include glass(#FFFFFF26, #0C423E88);
}
#map-here {
    --cover: 50%;
    position: relative;
    height: 15rem;
    background: var(--color-4);
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
    .map {
        position: absolute;
        top: 0;
        height: 100%;
        overflow: hidden;
        div {
            width: calc(100vw - 2rem);
            height: 100%;
        }
    }
    .cursor {
        position: absolute;
        top: 50%; left: var(--cover); z-index: 3001;
        transform: translate(-50%, -50%);
        width: 2rem; height: 2rem;
        background: var(--color-2);
        border-radius: 50%;
        box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
    }
    #map-one {
        left: 0; z-index: 3000;
        width: var(--cover);
        background: var(--color-2);
        border-right: var(--color-4) .125rem solid;
        box-shadow: .125rem 0 0 0 var(--color-4);
    }
    #map-two {
        left: 0; z-index: 2000;
        width: 100%;
        background: var(--color-3);
    }
}

.exploboxes-groups {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 2.5rem auto;
    // gap: calc(.75rem / 2 - 1px);
    gap: .5rem;
}
.exploboxes {
    display: grid;
    grid-template-columns: repeat(2, 5rem);
    grid-template-rows: repeat(2, 5rem);
    justify-content: center;
    row-gap: .5rem;
    column-gap: .5rem;
    width: 100%;
}
.explobox {
    display: grid;
    place-items: center;
    text-align: center;
    border-radius: .75rem;
    @include glass(#FFFFFF26, #0C423E88);
    &__img {
        display: block;
        width: 2rem; height: 2rem;
        &[src=""] {
            display: none;
        }
    }
    &__text {
        display: block;
        font-size: .625rem;
        color: var(--color-3);
    }
}
.group {
    width: 100%;
    &__title {
        color: var(--color-3);
        font-size: 1rem;
    }
    &.group--left .group__title {
        text-align: left;
    }
    &.group--right .group__title {
        text-align: right;
    }
    &-splitter {
        min-width: 1px; height: 4.5rem;
        background: var(--color-3);
        transform: translateY(.75rem);
    }
}

}
