[data-page="accueil"] {
  --page-margin: 19px;
}

[data-page="accueil"] header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 var(--page-margin);
}

[data-page="accueil"] h1, [data-page="accueil"] h2, [data-page="accueil"] h3 {
  text-align: center;
}

[data-page="accueil"] h2 {
  font-size: 1.75rem;
  font-style: italic;
}

[data-page="accueil"] h2 strong {
  font-weight: 500;
  font-style: normal;
  color: var(--color-2);
}

[data-page="accueil"] h3 {
  font-size: 1.5rem;
  font-style: italic;
}

[data-page="accueil"] .liste {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: var(--page-margin);
}

[data-page="accueil"] .liste--decouverte {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: calc(var(--page-margin) * 1.5);
}

[data-page="accueil"] .liste--parcours {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  height: 12rem;
  margin-bottom: 4rem;
  padding: .75rem;
  gap: calc(var(--page-margin) * .75);
  border-radius: calc(var(--page-margin) * .5);
  position: relative;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(45%, rgba(255, 255, 255, 0.3)), color-stop(95%, rgba(255, 255, 255, 0.1)));
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.3) 45%, rgba(255, 255, 255, 0.1) 95%);
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  -webkit-box-shadow: 0 .25rem .25rem #0004;
          box-shadow: 0 .25rem .25rem #0004;
}

[data-page="accueil"] .liste--parcours::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  padding: 1px;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(5%, #FFFFFF26), color-stop(95%, #0C423E88));
  background: linear-gradient(to bottom right, #FFFFFF26 5%, #0C423E88 95%);
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFF)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFF));
  -webkit-mask: linear-gradient(#FFF 0 0) content-box, linear-gradient(#FFF 0 0);
  -webkit-mask-composite: xor;
  border-radius: inherit;
}

[data-page="accueil"] .liste--parcours li {
  --size: calc(50% - var(--page-margin) / 2);
  width: var(--size);
}

[data-page="accueil"] .search {
  width: 3rem;
  height: 3rem;
  padding: .875rem;
  fill: var(--color-4);
  border-radius: calc(var(--page-margin) * .5);
  position: relative;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(45%, rgba(255, 255, 255, 0.3)), color-stop(95%, rgba(255, 255, 255, 0.1)));
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.3) 45%, rgba(255, 255, 255, 0.1) 95%);
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  -webkit-box-shadow: 0 .25rem .25rem #0004;
          box-shadow: 0 .25rem .25rem #0004;
}

[data-page="accueil"] .search::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  padding: 1px;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(5%, #FFFFFF26), color-stop(95%, #E6703255));
  background: linear-gradient(to bottom right, #FFFFFF26 5%, #E6703255 95%);
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFF)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFF));
  -webkit-mask: linear-gradient(#FFF 0 0) content-box, linear-gradient(#FFF 0 0);
  -webkit-mask-composite: xor;
  border-radius: inherit;
}

[data-page="accueil"] .decouvrir {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10rem;
  border-radius: calc(var(--page-margin) / 2);
  overflow: hidden;
  position: relative;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(45%, rgba(255, 255, 255, 0.3)), color-stop(95%, rgba(255, 255, 255, 0.1)));
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.3) 45%, rgba(255, 255, 255, 0.1) 95%);
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  -webkit-box-shadow: 0 .25rem .25rem #0004;
          box-shadow: 0 .25rem .25rem #0004;
}

[data-page="accueil"] .decouvrir::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  padding: 1px;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(5%, #FFFFFF01), color-stop(95%, #E6703255));
  background: linear-gradient(to bottom right, #FFFFFF01 5%, #E6703255 95%);
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFF)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFF));
  -webkit-mask: linear-gradient(#FFF 0 0) content-box, linear-gradient(#FFF 0 0);
  -webkit-mask-composite: xor;
  border-radius: inherit;
}

[data-page="accueil"] .decouvrir__img {
  width: 50%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0 .25rem .25rem #0004;
          box-shadow: 0 .25rem .25rem #0004;
}

[data-page="accueil"] .decouvrir__texte {
  width: 50%;
  padding-left: .75rem;
  color: var(--color-3);
  text-shadow: 0 .25rem .25rem #0004;
}

[data-page="accueil"] .parcourir {
  display: block;
  position: relative;
  width: 100%;
  height: 13.5rem;
  border-radius: 4rem 4rem 0 0;
  -webkit-box-shadow: 0 .25rem .25rem #0004;
          box-shadow: 0 .25rem .25rem #0004;
  overflow: hidden;
}

[data-page="accueil"] .parcourir > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

[data-page="accueil"] .parcourir__img {
  z-index: -1;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

[data-page="accueil"] .parcourir__texte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: calc(var(--page-margin) * .5);
  color: var(--color-3);
  background: -webkit-gradient(linear, left top, left bottom, from(#00000000), to(#00000099));
  background: linear-gradient(to bottom, #00000000, #00000099);
}

[data-page="accueil"] .map-container {
  position: relative;
  margin: var(--page-margin);
  padding: 2rem;
  border-radius: calc(var(--page-margin) / 2);
  position: relative;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(45%, rgba(255, 255, 255, 0.3)), color-stop(95%, rgba(255, 255, 255, 0.1)));
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.3) 45%, rgba(255, 255, 255, 0.1) 95%);
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  -webkit-box-shadow: 0 .25rem .25rem #0004;
          box-shadow: 0 .25rem .25rem #0004;
}

[data-page="accueil"] .map-container::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  padding: 1px;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(5%, #FFFFFF26), color-stop(95%, #0C423E88));
  background: linear-gradient(to bottom right, #FFFFFF26 5%, #0C423E88 95%);
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFF)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFF));
  -webkit-mask: linear-gradient(#FFF 0 0) content-box, linear-gradient(#FFF 0 0);
  -webkit-mask-composite: xor;
  border-radius: inherit;
}

[data-page="accueil"] #map-here {
  --cover: 50%;
  position: relative;
  height: 15rem;
  background: var(--color-4);
  -webkit-box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

[data-page="accueil"] #map-here .map {
  position: absolute;
  top: 0;
  height: 100%;
  overflow: hidden;
}

[data-page="accueil"] #map-here .map div {
  width: calc(100vw - 2rem);
  height: 100%;
}

[data-page="accueil"] #map-here .cursor {
  position: absolute;
  top: 50%;
  left: var(--cover);
  z-index: 3001;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 2rem;
  height: 2rem;
  background: var(--color-1);
  border-radius: 50%;
  -webkit-box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
}

[data-page="accueil"] #map-here #map-one {
  left: 0;
  z-index: 3000;
  width: var(--cover);
  background: var(--color-2);
  border-right: var(--color-4) 0.125rem solid;
  -webkit-box-shadow: 0.125rem 0 0 0 var(--color-4);
          box-shadow: 0.125rem 0 0 0 var(--color-4);
}

[data-page="accueil"] #map-here #map-two {
  left: 0;
  z-index: 2000;
  width: 100%;
  background: var(--color-3);
}
/*# sourceMappingURL=style.css.map */