<div>
    <section class="csection" id="ctx-info">
        <h2>Informations</h2>
        <div class="contentbox">
            <div class="contentbox__content contentbox__content--text-fit">
                <p>Genre&nbsp;: {{data.info?.genre}}</p>
                <p>Espèce&nbsp;: {{data.info?.espece}}</p>
                <p>Circonférence&nbsp;: {{data.taille?.p}} cm</p>
                <p>Hauteur&nbsp;: {{data.taille?.h}} m</p>
                <p>Date de plantation&nbsp;: {{data.date?.toLocaleString()}}</p>
                <p>Stade de développement&nbsp;: {{data.info?.stade_developpement}}</p>
            </div>
        </div>
    </section>
</div>