
.decouverte {
    position: relative;
    display: flex;
    height: 10rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.decouverte[data-type="expo"]::before {
    position: absolute;
    width: 2rem; height: 2rem;
    content: "";
    background-color: var(--color-1);
    border-radius: 50%;
    top: -1rem;
    right: 3.5rem;
}
.decouverte[data-type="expo"]::after {
    position: absolute;
    width: 2rem; height: 2rem;
    content: "";
    background-color: var(--color-1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset;
    border-radius: 50%;
    bottom: -1rem;
    right: 3.5rem;
}
.decouverte[data-type="expo"] img {
    position: absolute;
    top: 0; left: 0; z-index: -1;
    width: calc(100% - 4.5rem - 1px); height: 100%;
    object-fit: cover;
    filter: brightness(.75);
}
.decouverte[data-type="expo"] p {
    display: block;
    width: calc(100% - 4.5rem);
    padding: 6rem 5.5rem 0 1rem;
}
.decouverte[data-type="expo"] button {
    display: flex;
    align-items: center;
    width: 4.5rem;
    padding: 0 0 0 2.75rem;
    color: var(--color-2);
    background-color: var(--color-4);
    background-image: url("/assets/img/barcode.png");
    background-repeat: no-repeat;
    background-size: 1rem;
    background-position: 1.5rem center;
}
.decouverte[data-type="expo"] button span {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.decouverte[data-type="doc"] {
    flex-direction: column;
    justify-content: flex-end;
    gap: 1.5rem;
    background: var(--color-4);
    padding-left: 11.75rem;
    padding-right: .75rem;
    padding-bottom: 1.25rem;
}
.decouverte[data-type="doc"] img {
    position: absolute;
    top: 0; left: 0;
    width: 11rem; height: 100%;
    object-fit: cover;
}
.decouverte[data-type="doc"] p {
    display: block;
    color: var(--color-5);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.decouverte[data-type="doc"] button {
    background: var(--color-2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
