
#_exploration p {
    margin: 1rem;
    font-size: 1.25rem;
    text-align: center;
}
#_exploration p strong {
    color: var(--color-3);
    font-style: italic;
}

#_exploration [data-info="map"] {
    --cover: 50%;
    position: relative;
    height: 17.5rem;
    margin: 2rem 0;
    background: var(--color-4);
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

#_exploration [data-info="map"] .map {
    position: absolute;
    top: 0;
    height: 100%;
    overflow: hidden;
}
#_exploration [data-info="map"] .map div {
    width: calc(100vw - 2rem);
    height: 100%;
}
#map-one {
    left: 0; z-index: 1000;
    width: var(--cover);
    background: var(--color-2);
    border-right: var(--color-4) .125rem solid;
    box-shadow: .125rem 0 0 0 var(--color-4);
}
#map-two {
    left: 0;
    width: 100%;
    background: var(--color-3);
}

#_exploration [data-info="map"] .cursor {
    position: absolute;
    top: 50%; left: var(--cover); z-index: 1001;
    transform: translate(-50%, -50%);
    width: 2rem; height: 2rem;
    background: var(--color-1);
    border-radius: 50%;
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
}
