.searchbar {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%; height: 3rem;
    border-radius: 1.5rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: var(--color-4);
}
.searchbar input {
    width: 100%;
    padding-left: 2.75rem;
    background-image: url("/assets/icon/inpages/rechercher.svg");
    background-repeat: no-repeat;
    background-size: 1.75rem;
    background-position: .8rem center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.25rem;
}
.searchbar input::placeholder {
    color: #CCC;
}

