/* Alegreya */
@font-face {
    font-family: "Alegreya";
    src: url("/assets/font/Alegreya/Alegreya-VariableFont_wght.ttf");
    font-weight: 100;
    font-style: normal;
}@font-face {
    font-family: "Alegreya";
    src: url("/assets/font/Alegreya/Alegreya-VariableFont_wght.ttf");
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "Alegreya";
    src: url("/assets/font/Alegreya/Alegreya-VariableFont_wght.ttf");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Alegreya";
    src: url("/assets/font/Alegreya/Alegreya-VariableFont_wght.ttf");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Alegreya";
    src: url("/assets/font/Alegreya/Alegreya-VariableFont_wght.ttf");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Alegreya";
    src: url("/assets/font/Alegreya/Alegreya-VariableFont_wght.ttf");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Alegreya";
    src: url("/assets/font/Alegreya/Alegreya-VariableFont_wght.ttf");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Alegreya";
    src: url("/assets/font/Alegreya/Alegreya-VariableFont_wght.ttf");
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: "Alegreya";
    src: url("/assets/font/Alegreya/Alegreya-VariableFont_wght.ttf");
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: "Alegreya";
    src: url("/assets/font/Alegreya/Alegreya-Italic-VariableFont_wght.ttf");
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: "Alegreya";
    src: url("/assets/font/Alegreya/Alegreya-Italic-VariableFont_wght.ttf");
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: "Alegreya";
    src: url("/assets/font/Alegreya/Alegreya-Italic-VariableFont_wght.ttf");
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: "Alegreya";
    src: url("/assets/font/Alegreya/Alegreya-Italic-VariableFont_wght.ttf");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: "Alegreya";
    src: url("/assets/font/Alegreya/Alegreya-Italic-VariableFont_wght.ttf");
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: "Alegreya";
    src: url("/assets/font/Alegreya/Alegreya-Italic-VariableFont_wght.ttf");
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: "Alegreya";
    src: url("/assets/font/Alegreya/Alegreya-Italic-VariableFont_wght.ttf");
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: "Alegreya";
    src: url("/assets/font/Alegreya/Alegreya-Italic-VariableFont_wght.ttf");
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: "Alegreya";
    src: url("/assets/font/Alegreya/Alegreya-Italic-VariableFont_wght.ttf");
    font-weight: 900;
    font-style: italic;
}
