[data-page="decouvrir"] {
  --page-margin: 19px;
}

[data-page="decouvrir"] header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 var(--page-margin);
  margin-bottom: 2rem;
}

[data-page="decouvrir"] header h1 {
  width: 3rem;
}

[data-page="decouvrir"] h1, [data-page="decouvrir"] h2, [data-page="decouvrir"] h3 {
  text-align: center;
  text-shadow: 0 .25rem .25rem #0004;
}

[data-page="decouvrir"] p {
  text-shadow: 0 .25rem .25rem #0004;
}

[data-page="decouvrir"] h2 {
  margin-bottom: .75rem;
  font-size: 1.5rem;
  font-style: italic;
}

[data-page="decouvrir"] h2 strong {
  font-weight: 500;
  font-style: normal;
  color: var(--color-2);
}

[data-page="decouvrir"] h3 {
  font-size: 1.5rem;
  font-style: italic;
}

[data-page="decouvrir"] main h1 {
  position: absolute;
  top: 1.75rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 1.375rem;
  font-weight: 500;
  color: var(--color-2);
}

[data-page="decouvrir"] .liste {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: var(--page-margin);
}

[data-page="decouvrir"] .liste--decouverte {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: calc(var(--page-margin) * 1.5);
}

[data-page="decouvrir"] .liste--parcours {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  height: 12rem;
  margin-bottom: 4rem;
  padding: .75rem;
  gap: calc(var(--page-margin) * .75);
  border-radius: calc(var(--page-margin) * .5);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(45%, rgba(255, 255, 255, 0.25)), color-stop(95%, rgba(255, 255, 255, 0.1)));
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.25) 45%, rgba(255, 255, 255, 0.1) 95%);
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  -webkit-box-shadow: 0 .25rem .25rem #0004;
          box-shadow: 0 .25rem .25rem #0004;
}

[data-page="decouvrir"] .liste--parcours::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  padding: 1px;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(5%, #FFFFFF26), color-stop(95%, #0C423E88));
  background: linear-gradient(to bottom right, #FFFFFF26 5%, #0C423E88 95%);
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFF)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFF));
  -webkit-mask: linear-gradient(#FFF 0 0) content-box, linear-gradient(#FFF 0 0);
  -webkit-mask-composite: xor;
  border-radius: inherit;
}

[data-page="decouvrir"] .liste--parcours li {
  --size: calc(50% - var(--page-margin) / 2);
  width: var(--size);
}

[data-page="decouvrir"] .liste--catalog {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
}

[data-page="decouvrir"] .liste--carousel {
  margin-left: 0;
  margin-right: 0;
  padding: 0 var(--page-margin);
  overflow-x: auto;
  gap: 1rem;
}

[data-page="decouvrir"] .search {
  width: 3rem;
  height: 3rem;
  padding: .875rem;
  fill: var(--color-4);
  border-radius: calc(var(--page-margin) * .5);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(45%, rgba(255, 255, 255, 0.25)), color-stop(95%, rgba(255, 255, 255, 0.1)));
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.25) 45%, rgba(255, 255, 255, 0.1) 95%);
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  -webkit-box-shadow: 0 .25rem .25rem #0004;
          box-shadow: 0 .25rem .25rem #0004;
}

[data-page="decouvrir"] .search::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  padding: 1px;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(5%, #FFFFFF26), color-stop(95%, #0C423E80));
  background: linear-gradient(to bottom right, #FFFFFF26 5%, #0C423E80 95%);
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFF)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFF));
  -webkit-mask: linear-gradient(#FFF 0 0) content-box, linear-gradient(#FFF 0 0);
  -webkit-mask-composite: xor;
  border-radius: inherit;
}

[data-page="decouvrir"] .decouvrir {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10rem;
  border-radius: calc(var(--page-margin) / 2);
  overflow: hidden;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(45%, rgba(255, 255, 255, 0.25)), color-stop(95%, rgba(255, 255, 255, 0.1)));
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.25) 45%, rgba(255, 255, 255, 0.1) 95%);
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  -webkit-box-shadow: 0 .25rem .25rem #0004;
          box-shadow: 0 .25rem .25rem #0004;
}

[data-page="decouvrir"] .decouvrir::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  padding: 1px;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(5%, #FFFFFF26), color-stop(95%, #0C423E80));
  background: linear-gradient(to bottom right, #FFFFFF26 5%, #0C423E80 95%);
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFF)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFF));
  -webkit-mask: linear-gradient(#FFF 0 0) content-box, linear-gradient(#FFF 0 0);
  -webkit-mask-composite: xor;
  border-radius: inherit;
}

[data-page="decouvrir"] .decouvrir__img {
  width: 50%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-box-shadow: 0 .25rem .25rem #0004;
  box-shadow: 0 .25rem .25rem #0004;
}

[data-page="decouvrir"] .decouvrir__texte {
  width: 50%;
  padding-left: .75rem;
  padding-right: 3rem;
  color: var(--color-4);
  text-shadow: 0 .25rem .25rem #0004;
}

[data-page="decouvrir"] .decouvrir__go {
  position: absolute;
  top: 50%;
  right: .5rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 1.5rem;
  -webkit-filter: drop-shadow(0 0.25rem 0.25rem #0004);
          filter: drop-shadow(0 0.25rem 0.25rem #0004);
}

[data-page="decouvrir"] .decouvrir__go svg {
  fill: var(--color-4);
}

[data-page="decouvrir"] .section {
  position: relative;
}

[data-page="decouvrir"] .section__title {
  margin-left: 1.25rem;
  margin-right: 5rem;
  color: var(--color-2);
  text-align: left;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 500;
}

[data-page="decouvrir"] .section__more {
  position: absolute;
  top: .25rem;
  right: 1rem;
}

[data-page="decouvrir"] .expocard {
  position: relative;
  display: block;
  width: 100%;
  height: 10rem;
  --img-width: calc(100% - 5rem);
  font-weight: 500;
  -webkit-filter: drop-shadow(0 0.25rem 0.25rem #0004);
          filter: drop-shadow(0 0.25rem 0.25rem #0004);
}

[data-page="decouvrir"] .expocard__img {
  width: var(--img-width);
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-mask-composite: destination-out;
          mask-composite: destination-out;
  -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><circle cx='100%' cy='0' r='1rem' fill='black' /><circle cx='100%' cy='100%' r='1rem' fill='black' /></svg>"), -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><circle cx='100%' cy='0' r='1rem' fill='black' /><circle cx='100%' cy='100%' r='1rem' fill='black' /></svg>"), linear-gradient(#fff, #fff);
          mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><circle cx='100%' cy='0' r='1rem' fill='black' /><circle cx='100%' cy='100%' r='1rem' fill='black' /></svg>"), -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
          mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><circle cx='100%' cy='0' r='1rem' fill='black' /><circle cx='100%' cy='100%' r='1rem' fill='black' /></svg>"), linear-gradient(#fff, #fff);
}

[data-page="decouvrir"] .expocard__title {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  -webkit-transform: none;
          transform: none;
  width: calc(var(--img-width));
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: .8rem;
  text-align: left;
  font-size: 1rem;
  color: var(--color-4);
  text-shadow: 0 .25rem .25rem #0004;
}

[data-page="decouvrir"] .expocard::after {
  content: "Voir l'exposition";
  display: block;
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 100%;
  right: -5rem;
  width: 10rem;
  height: 5rem;
  padding-top: 3rem;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  text-align: center;
  background-color: var(--color-4);
  background-image: url("../../assets/img/barcode.png");
  background-position: center 1.5rem;
  background-size: auto 1rem;
  background-repeat: no-repeat;
  color: var(--color-2);
  -webkit-mask-composite: destination-out;
          mask-composite: destination-out;
  -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><circle cx='0' cy='0' r='1rem' fill='black' /><circle cx='100%' cy='0' r='1rem' fill='black' /></svg>"), -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><circle cx='0' cy='0' r='1rem' fill='black' /><circle cx='100%' cy='0' r='1rem' fill='black' /></svg>"), linear-gradient(#fff, #fff);
          mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><circle cx='0' cy='0' r='1rem' fill='black' /><circle cx='100%' cy='0' r='1rem' fill='black' /></svg>"), -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
          mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><circle cx='0' cy='0' r='1rem' fill='black' /><circle cx='100%' cy='0' r='1rem' fill='black' /></svg>"), linear-gradient(#fff, #fff);
}

[data-page="decouvrir"] .textcard {
  position: relative;
  display: block;
  max-width: 10rem;
  text-shadow: 0 .25rem .25rem #0004;
}

[data-page="decouvrir"] .textcard__title {
  position: static;
  -webkit-transform: none;
          transform: none;
  text-align: left;
  color: var(--color-3);
  font-size: 1.1rem;
}

[data-page="decouvrir"] .textcard__author {
  position: static;
  font-size: 1rem;
}

[data-page="decouvrir"] .textcard__img {
  position: static;
  width: 10rem;
  height: 12rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  border-radius: .75rem;
  -webkit-box-shadow: 0 .25rem .25rem #0004;
          box-shadow: 0 .25rem .25rem #0004;
}

[data-page="decouvrir"] .textcard__save {
  position: absolute;
  top: .25rem;
  right: .25rem;
  width: 2rem;
}

[data-page="decouvrir"] .textcard__save .svg-img {
  fill: var(--color-2);
}

[data-page="decouvrir"] .contentbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1rem;
  border-radius: .75rem;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(45%, rgba(255, 255, 255, 0.25)), color-stop(95%, rgba(255, 255, 255, 0.1)));
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.25) 45%, rgba(255, 255, 255, 0.1) 95%);
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  -webkit-box-shadow: 0 .25rem .25rem #0004;
          box-shadow: 0 .25rem .25rem #0004;
}

[data-page="decouvrir"] .contentbox::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  padding: 1px;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(5%, #FFFFFF40), color-stop(95%, #FFFFFF19));
  background: linear-gradient(to bottom right, #FFFFFF40 5%, #FFFFFF19 95%);
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFF)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFF));
  -webkit-mask: linear-gradient(#FFF 0 0) content-box, linear-gradient(#FFF 0 0);
  -webkit-mask-composite: xor;
  border-radius: inherit;
}

[data-page="decouvrir"] .contentbox__content {
  width: 100%;
  max-height: 25rem;
  padding: 1rem;
}

[data-page="decouvrir"] .contentbox__content--text {
  overflow-y: hidden;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(90%, black), color-stop(97.5%, transparent));
  -webkit-mask-image: linear-gradient(to bottom, black 90%, transparent 97.5%);
          mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(90%, black), color-stop(97.5%, transparent));
          mask-image: linear-gradient(to bottom, black 90%, transparent 97.5%);
}

[data-page="decouvrir"] .contentbox__content--text h3 {
  font-weight: bold;
  color: var(--color-3);
}

[data-page="decouvrir"] .contentbox__content--text p.page {
  margin: 0;
}

[data-page="decouvrir"] .contentbox__content--text p {
  margin: 1.5rem 0;
}

[data-page="decouvrir"] .contentbox__content--text strong {
  color: var(--color-2);
}

[data-page="decouvrir"] .contentbox__content--text-fit {
  -webkit-mask-image: default;
          mask-image: default;
  height: auto;
}

[data-page="decouvrir"] .contentbox__content--text-fit p {
  margin: 0;
}

[data-page="decouvrir"] .contentbox__content--images {
  display: -ms-grid;
  display: grid;
  padding: 1rem;
  gap: .75rem;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (9rem)[2];
      grid-template-rows: repeat(2, 9rem);
}

[data-page="decouvrir"] .contentbox__content--images img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: .75rem;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

[data-page="decouvrir"] .contentbox__expand {
  width: 100%;
}

[data-page="decouvrir"] .contentbox__expand-arrow {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--color-3);
  margin: auto;
}

[data-page="decouvrir"] .contentbox[data-expanded="true"] .contentbox__content--text {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-mask-image: none;
          mask-image: none;
}

[data-page="decouvrir"] .contentbox[data-expanded="true"] .contentbox__content--images {
  display: block;
}

[data-page="decouvrir"] .contentbox[data-expanded="true"] .contentbox__expand-arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

[data-page="decouvrir"] .hash-page {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100 * var(--vh) - var(--dom-navbar-height));
  padding-top: 1rem;
  background: var(--color-1);
  overflow-y: auto;
}

[data-page="decouvrir"] .hash-page--show {
  display: block;
}

[data-page="decouvrir"] .back {
  width: 3rem;
  height: 3rem;
  padding: .875rem;
}

[data-page="decouvrir"] .back .svg {
  fill: var(--color-2);
}

[data-page="decouvrir"] input[type="checkbox"] {
  display: none;
}

[data-page="decouvrir"] input[type="checkbox"] + .checkbox {
  width: 1.125rem;
  height: 1.125rem;
  fill: var(--color-4);
}

[data-page="decouvrir"] input[type="checkbox"] + .checkbox .checked {
  display: none;
}

[data-page="decouvrir"] input[type="checkbox"] + .checkbox .not-checked {
  display: block;
}

[data-page="decouvrir"] input[type="checkbox"]:checked + .checkbox .checked {
  display: block;
}

[data-page="decouvrir"] input[type="checkbox"]:checked + .checkbox .not-checked {
  display: none;
}
/*# sourceMappingURL=style.css.map */