[data-page="explorer"] #map-here {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

[data-page="explorer"] .hud {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
}

[data-page="explorer"] .button {
  position: absolute;
  width: 3rem;
  height: 3rem;
  padding: .75rem;
  border-radius: 50%;
  background: var(--color-2);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  pointer-events: auto;
}

[data-page="explorer"] .button__icon {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  fill: #FFF;
}

[data-page="explorer"] .button--menu {
  top: 1rem;
  border-radius: 0;
}

[data-page="explorer"] .button--locate {
  bottom: 1rem;
}

[data-page="explorer"] .button--left {
  left: 1rem;
  -webkit-transition: left .5s ease-in-out;
  transition: left .5s ease-in-out;
}

[data-page="explorer"] .button--right {
  right: 1rem;
  -webkit-transition: right .5s ease-in-out;
  transition: right .5s ease-in-out;
}

[data-page="explorer"] .button.no-transition {
  -webkit-transition: none !important;
  transition: none !important;
}

[data-page="explorer"] .sneak-button {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 3rem;
  height: 3rem;
  padding: 0;
  min-width: 3rem;
}

[data-page="explorer"] div.zoom-buttons {
  display: none;
}

[data-page="explorer"] .hud--hide .button--left {
  left: -4rem;
}

[data-page="explorer"] .hud--hide .button--right {
  right: -4rem;
}

[data-page="explorer"] .menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
  width: 100%;
  height: 100%;
  padding-top: 4rem;
  background: var(--color-1);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  font-weight: 500;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  overflow: auto;
}

[data-page="explorer"] .menu--show {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

[data-page="explorer"] .menu__close {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 2rem;
  height: 2rem;
  fill: #FFF;
}

[data-page="explorer"] .menu__close img, [data-page="explorer"] .menu__close .svg {
  width: 100%;
  height: 100%;
}

[data-page="explorer"] .menu__title {
  position: absolute;
  top: 2rem;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 1.375rem;
  font-weight: bold;
}

[data-page="explorer"] .category__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3.5rem;
  padding: 0 1.5rem;
  font-size: 1.375rem;
  font-weight: inherit;
  background: var(--color-2);
}

[data-page="explorer"] .category__title--subcategory {
  font-size: 1rem;
  background: var(--color-6);
  color: var(--color-5);
}

[data-page="explorer"] .subcategory {
  position: relative;
}

[data-page="explorer"] .subcategory .category__title--subcategory {
  padding-left: 3rem;
}

[data-page="explorer"] .subcategory__expander {
  position: absolute;
  top: 1.75rem;
  right: 1.75rem;
  width: 1rem;
  height: 1rem;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  pointer-events: none;
}

[data-page="explorer"] .subcategory__expander .expand {
  display: block;
}

[data-page="explorer"] .subcategory__expander .collapse {
  display: none;
}

[data-page="explorer"] .subcategory__uncheck {
  display: block;
  position: absolute;
  top: 1.75rem;
  left: 1.75rem;
  width: 2rem;
  height: 2rem;
  padding: .375rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

[data-page="explorer"] .subcategory__uncheck .svg {
  width: 1.25rem;
  height: 1.25rem;
  fill: var(--color-2);
}

[data-page="explorer"] .subcategory .filterlist {
  display: none;
}

[data-page="explorer"] .subcategory[data-expanded="true"] .subcategory__expander .expand {
  display: none;
}

[data-page="explorer"] .subcategory[data-expanded="true"] .subcategory__expander .collapse {
  display: block;
}

[data-page="explorer"] .subcategory[data-expanded="true"] .filterlist {
  display: block;
}

[data-page="explorer"] .subcategory + .subcategory {
  border-top: var(--color-4) 1px solid;
}

[data-page="explorer"] .filterlist {
  padding: 1rem 2rem;
  background: var(--color-4);
  color: var(--color-5);
}

[data-page="explorer"] .filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: .75rem;
  padding-bottom: .125rem;
}

[data-page="explorer"] .filter__name {
  width: 100%;
}

[data-page="explorer"] input[type="checkbox"] {
  display: none;
}

[data-page="explorer"] input[type="checkbox"] + .checkbox {
  width: 1.125rem;
  height: 1.125rem;
  fill: var(--color-4);
}

[data-page="explorer"] input[type="checkbox"] + .checkbox .checked {
  background: var(--color-2);
  display: none;
}

[data-page="explorer"] input[type="checkbox"] + .checkbox .not-checked {
  background: var(--color-6);
  display: block;
}

[data-page="explorer"] input[type="checkbox"]:checked + .checkbox .checked {
  display: block;
}

[data-page="explorer"] input[type="checkbox"]:checked + .checkbox .not-checked {
  display: none;
}

[data-page="explorer"] .context {
  --pos: 0;
  --pos-partial: calc(100% - var(--dom-navbar-height) - 192px);
  position: fixed;
  top: var(--pos);
  left: 0;
  z-index: 2001;
  width: 100vw;
  height: calc((100 * var(--vh)) - var(--dom-navbar-height));
  padding-top: 0;
  background: var(--color-1);
  border-radius: 2rem 2rem 0 0;
  -webkit-transition: top 200ms ease-out, border-radius 200ms ease-in-out;
  transition: top 200ms ease-out, border-radius 200ms ease-in-out;
  overflow-y: hidden;
}

[data-page="explorer"] .context[data-mode="full"] {
  --pos: 0%;
  border-radius: 0;
  overflow-y: auto;
}

[data-page="explorer"] .context[data-mode="partial"] {
  --pos: var(--pos-partial);
}

[data-page="explorer"] .context[data-mode="none"] {
  --pos: 100%;
}

[data-page="explorer"] .context[data-mode="drag"] {
  -webkit-transition: border-radius 200ms ease-in-out;
  transition: border-radius 200ms ease-in-out;
}

[data-page="explorer"] .context h2, [data-page="explorer"] .context p {
  margin: .25rem 1rem 1.5rem 1rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

[data-page="explorer"] .context h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-2);
}

[data-page="explorer"] .context h2.title {
  margin: .25rem 4rem .25rem 1rem;
}

[data-page="explorer"] .context p.address {
  margin: .25rem 1rem;
}

[data-page="explorer"] .context__handle {
  width: 100%;
  height: calc(5px + 2 * 1.5rem);
  padding: 1.5rem;
}

[data-page="explorer"] .context__handle::after {
  content: " ";
  display: block;
  width: 8rem;
  height: 5px;
  background: var(--color-4);
  border-radius: 2.5px;
  margin: auto;
}

[data-page="explorer"] .context__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .75rem;
  margin: .5rem 0;
  padding: .5rem 1rem;
  overflow-x: auto;
}

[data-page="explorer"] .context__save {
  position: absolute;
  top: 0;
  right: 1rem;
  width: 2rem;
  height: 2rem;
}

[data-page="explorer"] .context__save .svg {
  background: none !important;
  fill: var(--color-2);
}

[data-page="explorer"] .cbutton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .75rem;
  width: 8.75rem;
  height: 2.5rem;
  min-width: 8.75rem;
  min-height: 2.5rem;
  padding: .5rem .75rem;
  border-radius: 1.25rem;
  background: var(--color-2);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

[data-page="explorer"] .cbutton__icon {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  fill: #FFF;
}

[data-page="explorer"] .csection {
  position: relative;
}

[data-page="explorer"] .csection:not(#ctx-head) {
  margin-bottom: 3.5rem;
}

[data-page="explorer"] .csection__more {
  position: absolute;
  top: .25rem;
  right: 1rem;
  color: var(--color-4);
}

[data-page="explorer"] .suggestion__title {
  margin: 0 1.25rem;
  font-weight: 500;
  color: var(--color-3);
}

[data-page="explorer"] .suggestion__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .25rem;
  margin: .5rem 0;
  padding: .5rem 1rem;
  overflow-x: auto;
}

[data-page="explorer"] .suggestion--menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: .75rem;
  margin: .5rem 0;
  padding: .5rem 1rem;
}

[data-page="explorer"] .sugg {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 7rem;
  height: 7rem;
  min-width: 7rem;
  min-height: 7rem;
  border-radius: .75rem;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(45%, rgba(255, 255, 255, 0.25)), color-stop(95%, rgba(255, 255, 255, 0.1)));
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.25) 45%, rgba(255, 255, 255, 0.1) 95%);
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  -webkit-box-shadow: 0 .25rem .25rem #0004;
          box-shadow: 0 .25rem .25rem #0004;
}

[data-page="explorer"] .sugg::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  padding: 1px;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(5%, #FFFFFF40), color-stop(95%, #FFFFFF19));
  background: linear-gradient(to bottom right, #FFFFFF40 5%, #FFFFFF19 95%);
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFF)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFF));
  -webkit-mask: linear-gradient(#FFF 0 0) content-box, linear-gradient(#FFF 0 0);
  -webkit-mask-composite: xor;
  border-radius: inherit;
}

[data-page="explorer"] .sugg--ico {
  position: relative;
  place-items: end center;
}

[data-page="explorer"] .sugg--ico img {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: .75rem;
}

[data-page="explorer"] .sugg--ico .sugg__text {
  z-index: 1;
}

[data-page="explorer"] .sugg--button {
  width: 8.5rem;
  height: 2.5rem;
  min-width: 8.5rem;
  min-height: 2.5rem;
}

[data-page="explorer"] .contentbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1rem;
  border-radius: .75rem;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(45%, rgba(255, 255, 255, 0.25)), color-stop(95%, rgba(255, 255, 255, 0.1)));
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.25) 45%, rgba(255, 255, 255, 0.1) 95%);
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  -webkit-box-shadow: 0 .25rem .25rem #0004;
          box-shadow: 0 .25rem .25rem #0004;
}

[data-page="explorer"] .contentbox::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  padding: 1px;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(5%, #FFFFFF40), color-stop(95%, #FFFFFF19));
  background: linear-gradient(to bottom right, #FFFFFF40 5%, #FFFFFF19 95%);
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFF)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFF));
  -webkit-mask: linear-gradient(#FFF 0 0) content-box, linear-gradient(#FFF 0 0);
  -webkit-mask-composite: xor;
  border-radius: inherit;
}

[data-page="explorer"] .contentbox__content {
  width: 100%;
  height: 25rem;
  padding: 1rem;
}

[data-page="explorer"] .contentbox__content--text {
  overflow-y: hidden;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(90%, black), color-stop(97.5%, transparent));
  -webkit-mask-image: linear-gradient(to bottom, black 90%, transparent 97.5%);
          mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(90%, black), color-stop(97.5%, transparent));
          mask-image: linear-gradient(to bottom, black 90%, transparent 97.5%);
}

[data-page="explorer"] .contentbox__content--text h3 {
  font-weight: bold;
  color: var(--color-3);
}

[data-page="explorer"] .contentbox__content--text p.page {
  margin: 0;
}

[data-page="explorer"] .contentbox__content--text p {
  margin: 1.5rem 0;
}

[data-page="explorer"] .contentbox__content--text strong {
  color: var(--color-2);
}

[data-page="explorer"] .contentbox__content--text-fit {
  -webkit-mask-image: default;
          mask-image: default;
  height: auto;
}

[data-page="explorer"] .contentbox__content--text-fit p {
  margin: 0;
}

[data-page="explorer"] .contentbox__content--images {
  display: -ms-grid;
  display: grid;
  padding: 1rem;
  gap: .75rem;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (9rem)[2];
      grid-template-rows: repeat(2, 9rem);
}

[data-page="explorer"] .contentbox__content--images img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: .75rem;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

[data-page="explorer"] .contentbox__expand {
  width: 100%;
}

[data-page="explorer"] .contentbox__expand-arrow {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--color-3);
  margin: auto;
}

[data-page="explorer"] .contentbox[data-expanded="true"] .contentbox__content--text {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-mask-image: none;
          mask-image: none;
}

[data-page="explorer"] .contentbox[data-expanded="true"] .contentbox__content--images {
  display: block;
}

[data-page="explorer"] .contentbox[data-expanded="true"] .contentbox__expand-arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

[data-page="explorer"] .search {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
  width: 100vw;
  height: calc(100 * var(--vh) - var(--dom-navbar-height));
  background: var(--color-1);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  overflow-y: auto;
}

[data-page="explorer"] .search--show {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

[data-page="explorer"] .search__close {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  z-index: 1;
  width: 2rem;
  height: 2rem;
  padding: .5rem;
  fill: #000;
}

[data-page="explorer"] .search__close img, [data-page="explorer"] .search__close .svg {
  width: 100%;
  height: 100%;
}

[data-page="explorer"] .search__save {
  position: absolute;
  top: 0;
  right: 1rem;
  width: 2rem;
  height: 2rem;
}

[data-page="explorer"] .search__save .svg {
  background: none !important;
  fill: var(--color-2);
}

[data-page="explorer"] .search .searchbar {
  position: relative;
  width: calc(100% - 2rem);
  margin: 1rem;
  pointer-events: auto;
  -webkit-transition: top .5s ease-in-out;
  transition: top .5s ease-in-out;
}

[data-page="explorer"] .search[data-mode="my"] #src-results {
  display: none;
}

[data-page="explorer"] .search[data-mode="my"] #src-recent {
  display: block;
}

[data-page="explorer"] .search[data-mode="my"] #src-favorites {
  display: block;
}

[data-page="explorer"] .search[data-mode="search"] #src-results {
  display: block;
}

[data-page="explorer"] .search[data-mode="search"] #src-recent {
  display: none;
}

[data-page="explorer"] .search[data-mode="search"] #src-favorites {
  display: none;
}

[data-page="explorer"] .ssection__title {
  margin: 1rem 1rem .5rem 1rem;
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--color-2);
  text-shadow: 0 .25rem .25rem #0004;
}

[data-page="explorer"] .ssection__list {
  margin: 0 1rem;
}

[data-page="explorer"] .slist {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

[data-page="explorer"] .slist__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 .5rem;
  gap: 1rem;
}

[data-page="explorer"] .slist__item .svg {
  width: 1.5rem;
  fill: var(--color-4);
}

[data-page="explorer"] .slist--list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

[data-page="explorer"] .slist--list .slist__item {
  width: 100%;
  height: 3rem;
}

[data-page="explorer"] .slist--biglist {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

[data-page="explorer"] .slist--biglist .slist__item {
  display: block;
  width: 100%;
  height: 8rem;
  padding: .75rem;
  border-radius: .75rem;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(45%, rgba(255, 255, 255, 0.25)), color-stop(95%, rgba(255, 255, 255, 0.1)));
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.25) 45%, rgba(255, 255, 255, 0.1) 95%);
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  -webkit-box-shadow: 0 .25rem .25rem #0004;
          box-shadow: 0 .25rem .25rem #0004;
}

[data-page="explorer"] .slist--biglist .slist__item::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  padding: 1px;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(5%, #FFFFFF40), color-stop(95%, #FFFFFF19));
  background: linear-gradient(to bottom right, #FFFFFF40 5%, #FFFFFF19 95%);
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFF)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFF));
  -webkit-mask: linear-gradient(#FFF 0 0) content-box, linear-gradient(#FFF 0 0);
  -webkit-mask-composite: xor;
  border-radius: inherit;
}

[data-page="explorer"] .slist--biglist h3 {
  margin-left: .25rem;
  font-weight: bold;
  color: var(--color-2);
  text-shadow: 0 .25rem .25rem #0004;
}

[data-page="explorer"] .slist--biglist .search__save {
  position: absolute;
  top: .5rem;
  right: .5rem;
  width: 2rem;
  height: 2rem;
}

[data-page="explorer"] .slist--biglist .search__save .svg {
  width: 100%;
  height: 100%;
  background: none !important;
  fill: var(--color-4);
}

[data-page="explorer"] .slist--carousel {
  margin: 0;
  padding: 0 1rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow-x: auto;
  gap: .25rem;
  padding: 0 1rem 1rem 1rem;
  font-weight: 500;
}

[data-page="explorer"] .slist--carousel .slist__item {
  width: 7rem;
  height: 7rem;
  min-width: 7rem;
  min-height: 7rem;
  text-align: center;
  border-radius: .75rem;
  color: var(--color-1);
  background: var(--color-6);
  -webkit-box-shadow: 0 .25rem .25rem #0004;
          box-shadow: 0 .25rem .25rem #0004;
}

[data-page="explorer"] .slist--carousel .slist__item p {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */