#map-here {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
}

.hud {
    position: absolute;
    top: 0; left: 0; z-index: 2000;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
}

.hud .searchbar {
    top: 1rem;
    left: 1rem;
    width: calc(100% - 6rem);
    pointer-events: auto;
    transition: top .5s ease-in-out;
}

.button {
    position: absolute;
    width: 3rem; height: 3rem;
    padding: .75rem;
    border-radius: 50%;
    background: var(--color-2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    pointer-events: auto;
}
.button__icon {
    display: block;
    width: 1.5rem; height: 1.5rem;
    fill: #FFF;
}

.button--menu {
    top: 1rem;
    right: 1rem;
    border-radius: 0;
    transition: top .5s ease-in-out;
}
.button--locate {
    bottom: 1rem;
    right: 1rem;
    transition: right .5s ease-in-out;
}

.menu {
    position: absolute;
    top: -100%; left: 0; z-index: 2000;
    width: 100%; height: 100%;
    background: var(--color-1);
    transition: top 0.3s ease-in-out;
}
.menu--show {
    top: 0;
}
.menu__close {
    position: absolute;
    top: .5rem; left: .5rem;
    width: 2rem; height: 2rem;
    fill: #FFF;
}
.menu__close img, .menu__close .svg {
    width: 100%; height: 100%;
}
.menu_-_todo {
    margin-top: 4rem;
}

div.zoom-buttons {
    display: block;
    position: absolute;
    bottom: 5rem;
    right: 1rem;
    border: none;
    border-radius: 1.5rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    transition: right .5s ease-in-out;
}
div.zoom-buttons a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem; height: 3rem;
    background: var(--color-2);
    border-bottom: none;
    color: var(--color-4);
    line-height: normal;
    font-family: inherit;
    font-size: 1.5rem;
}
div.zoom-buttons a:hover, div.zoom-buttons a:focus {
    background: var(--color-2);
}
div.zoom-buttons[data-enabled="false"] {
    display: none;
}
div.zoom-buttons[data-enabled="true"] {
    display: block;
}


.hud--hide .searchbar {
    top: -4rem;
}
.hud--hide .button--menu {
    top: -4rem;
}
.hud--hide .button--locate {
    right: -4rem;
}
.hud--hide .zoom-buttons {
    right: -4rem;
}
