`
  <div>
              
      <div class="textBox">
          <h2 class="tOran" id="quiz` + quizNumber + `question">`+ quiz.quizs[arrayNumber].quizQuestion +`</h2>
          <h3 class="tYell" id="quiz` + quizNumber + `AnswerAmount"></h2>
          <div class="answerContainer" id="quiz` + quizNumber + `AnswerContainer"></div>
      </div>

      <div class="textBox" id="quiz` + quizNumber + `Answers">
          <h2 class="tYell" id="quiz` + quizNumber + `Answer"></h2>
          <h3 class="tYell" id="quiz` + quizNumber + `AnswerSubtitle"></h3>
          <div id="quiz` + quizNumber + `AnswerList"></div>
          <button class="hintButton" id="quiz` + quizNumber + `HintButton"></button>
      </div>

      <button class="yellowBtn" id="quiz` + quizNumber + `SubmitButton">Valider</button>

  </div>
`