<div>
    <section class="csection" id="ctx-info">
        <h2>Image</h2>
        <img src="{{data.info.src}}" alt="">
    </section>
    <section class="csection" id="ctx-info">
        <h2>Informations</h2>
        <div class="contentbox">
            <div class="contentbox__content contentbox__content--text-fit">
                <p>Autheur&nbsp;: {{data.info.author}}</p>
                <p>Référence bibliographique&nbsp;: {{data.meta.biblio}}</p>
            </div>
        </div>
    </section>
</div>