<section class="section">
    <h2 class="section__title">{{name}}</h2>
    <a href="decouvrir#{{href}}" class="section__more">Voir tout</a>
    <div class="contentbox">
        <div class="contentbox__content contentbox__content--images">
            <% for(let i = 0; i < 4; i++) { %>
            <img src="{{img[i]}}" alt="">
            <% } %>
        </div>
        <div class="contentbox__expand">
            <img src="assets/icon/fleche_bas.svg" alt="" class="svg-img contentbox__expand-arrow">
        </div>
    </div>
</section>