$size: .375rem;
$color: var(--color-3);
$bg-color: var(--color-1);

::-webkit-scrollbar {
    width:  $size;
    height: $size;
    &-thumb {
        border-radius: $size;
        background: $color;
        border: 1px solid $bg-color;
    }
    &-track {
        background: none;
    }
}

#__dom__page {
    overflow: overlay;
}
.hash-page,
.menu,
.search {
    overflow: overlay !important;
}
