<div>
    <section class="csection" id="ctx-info">
        <h2>Littérature</h2>
        <div class="contentbox">
            <div class="contentbox__content contentbox__content--text">
                <h3>Extrait de <em>{{data.nom}}</em> de {{data.info.author}}</h3>
                <p><q>&nbsp;{{data.info.contenu}}&nbsp;</q></p>
            </div>
            <button class="contentbox__expand">
                <img src="assets/icon/fleche_bas.svg" alt="" class="svg-img contentbox__expand-arrow">
            </button>
        </div>
    </section>
</div>